@model WebAppTilausDB.Models.Tuotteet

@{
    ViewBag.Title = "Tuotetiedot";
}

<h2>Tuotetiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuoteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)€
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KuvaLinkki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KuvaLinkki)
        </dd>
    </dl>
</div>

<p>
    <a class="btn btn-warning" @Html.ActionLink("Muokkaa", "Edit", new { id = Model.TuoteID })
    <a class="btn btn-primary" @Html.ActionLink("Kuvasto", "Index2")
    <a class="btn btn-success" @Html.ActionLink("Tuotteet", "Index")
</p>
