@model WebAppTilausDB.Models.Logins

@{
    ViewBag.Title = "AccessDenied";
}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">

<h2>Pääsy estetty</h2>

<h4>Sinulla ei ole tarvittavia oikeuksia tälle sivulle.</h4>

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tallenna" class="btn btn-primary" />
            <script>
                    document.write('<a class="btn btn-primary" href="' + document.referrer + '">Takaisin</a>');
            </script>
        </div>
    </div>*@

<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#LoginRuutu" title="Kirjaudu sisään">Kirjaudu sisään</button>
    <script>
        document.write('<a class="btn btn-primary" href="' + document.referrer + '">Takaisin</a>');
    </script>
    @*Login-ikkunan koodi*@
    <div class="modal fade" id="LoginRuutu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Log In</h1>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "loginForm" }))

                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.LoginId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Käyttäjätunnus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Käyttäjätunnus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Käyttäjätunnus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Salasana, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Salasana, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Salasana, "", new { @class = "text-danger" })
                                </div>

                                <label class="text-danger">
                                    @Html.DisplayFor(model => model.LoginErrorMessage)
                                </label>

                                <div class="modal-footer">
                                    @* Formin lähettävä button, joka ei kuitenkaan ole formin sisällä. *@
                                    <button type="submit" class="btn btn-success" form="loginForm"><i class="fas fa-check"></i></button>
                                    <br />
                                    @* Kontrolleri kutsu url.Action komennolla, jotta peruuttaminen johtaa alkutilanteeseen *@
                                    <a href="@Url.Action("Index","Home")" class="btn btn-danger"><i class="fas fa-times"></i></a>
                                </div>

                                @*<div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                            <a href="@Url.Action("Index","Home")" class="btn btn-danger"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <p>Ei käyttäjätiliä? Luo itsellesi käyttäjätili rekisteröitymällä tilausjärjestelmän käyttäjäksi:</p>
                                    <a class="btn btn-success" @Html.ActionLink("Rekisteröidy", "CreateUserID")
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
</p>

