@model WebAppTilausDB.Models.Logins

@{
    ViewBag.Title = "Poista käyttäjä";
}

<h2>Poista käyttäjä</h2>

<h4>Oletko varma, että haluat poistaa tämän käyttäjän?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Käyttäjätunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Käyttäjätunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salasana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salasana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rooli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooli)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-danger" />
            <a class="btn btn-success" @Html.ActionLink("Käyttäjät", "Index")
        </div>
    }
</div>
